body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-container {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button, .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1E90FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

button:hover, .button:hover {
    background-color: #4169E1;
}

/* Login-related buttons */
#loginForm button[type="submit"],
#showLoginForm,
.button {
    background-color: #1E90FF;
}

#loginForm button[type="submit"]:hover,
#showLoginForm:hover,
.button:hover {
    background-color: #4169E1;
}

/* Register-related buttons */
#registerForm button[type="submit"],
#showRegisterForm {
    background-color: magenta;
}

#registerForm button[type="submit"]:hover,
#showRegisterForm:hover {
    background-color: #ff00ff;
}

.alert {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
    transition: opacity 2s ease-in-out;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#showRegisterForm,
#showLoginForm {
    margin-top: 15px;
}

.hidden {
    opacity: 0;
}
